ca-certificates==2020.7.22                     0
certifi==2020.6.20  
cffi==1.14.3         
cryptography==3.1.1   
decorator==4.4.2       
imgkit==1.0.2           
ld_impl_linux-64==2.33.1 
libedit==3.1.20191231
libffi==3.3      
libgcc-ng==9.1.0  
libstdcxx-ng==9.1.0
markdown2==2.3.9  
ncurses==6.2       
openssl==1.1.1h     
pdfkit==0.6.1        
pip==20.2.3           
pycparser==2.20        
python==3.6.12          
python-dotenv==0.14.0    
python-telegram-bot==12.8 
readline==8.0    
setuptools==49.6.0
six==1.15.0   
sqlite==3.33.0 
tk==8.6.10  
tornado==6.0.4
wheel==0.35.1
xz==5.2.5   
zlib==1.2.11 
